<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="yandex-verification" content="3911e524e029ff82" />
    <link rel="shortcut icon" href="static/img/logo.ico" type="image/x-icon">
    <link rel="icon" href="static/img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/contacts.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой крутой блог</title>
</head>
<body>
    <header>
        <div class="logo">
            <img class="logo_mg" src="../static/img/Hero.PNG" alt="Логотоип крутой">
        </div>
        <div class="name">
            <h1 class="name_h1">МОЙ БЛОГ</h1>
        </div>
        <nav>
            <ul class="nav_ul">
                <li><a class="nav_a" href="../index.html">Главная</a></li>
                <li><a class="nav_a" href="posts.html">Посты</a></li>
                <li><a class="nav_a" href="contacts.html">Контакты</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="sopel_div">
            <h1>Люди на которых можно положиться</h1>
        </div>
        <div class="ne_soplya">
            <div class="menee_ne_soplya1">
                <img src="../static/img/brother.PNG" alt="Соплежуй" class="sopleshui">
                <h2>Кирилл</h2>
                <h3>Брат</h3>
                <p>Вонючий соплежуй, спец по<br>
                    поеданию соплей.</p>
                <a href="nahren_tbl_suda_zashel.html" class="soplya">sopelman@example.com</a>
                <div class="butonn">
                    <a href="nahren_tbl_suda_zashel.html" class="von">
                        <button>Связаться</button></div>
                    </a>
                </div>
            
            <div class="menee_ne_soplya2">
                <img src="../static/img/freind.PNG" alt="Соплежуй" class="sopleshui2">
                <h2>Кирилл Мастурбеков</h2>
                <h3>Друг</h3>
                <p>Обычный человек, с фамилией<br>ему не очень повезло.</p>
                <a href="nahren_tbl_suda_zashel.html" class="soplya">masturbek@example.com</a>
                <div class="butonn">
                    <a href="nahren_tbl_suda_zashel.html" class="von">
                        <button>Связаться</button></div>
                    </a>
                </div>
            
            <div class="menee_ne_soplya3">
                <img src="../static/img/brother2.PNG" alt="Соплежуй" class="sopleshui3">
                <h2>Али</h2>
                <h3>Двоюродный брат</h3>
                <p>Редко с ним вижусь.</p>
                <a href="nahren_tbl_suda_zashel.html" class="soplya">spidermen@example.com</a>
                <div class="butonn">
                    <a href="nahren_tbl_suda_zashel.html" class="von">
                        <button>Связаться</button></div>
                    </a>
                </div>
            </div>
    </main>
    <footer>
        <p>Все права не защищены</p>
    </footer>
</body>
</html>
